html {
  background-image: linear-gradient(180deg, #FFFFFF 0%, #f9e7f1 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.mobile-window {
  width: 530px;
  position: relative;
  border-radius: 0px;
  height: 80vh;
}
  
.upload {
  display: inline-block;
  width: 200px;
  margin: 10px;
  background: #E35D00;
  border-radius: 10px;
  color: white;
  font-family: 'Bahnschrift', sans-serif;
  height: 50px;
  width: 300px; 
  font-size: 20px;
  border: none;
  margin-top: 4%;
  font-weight: 600;
}



body {
  font-family: 'Bahnschrift', sans-serif;                                       
}

.testing {
  color: red;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.centered {
    /* centering the content */
    margin: 0 auto;
  
}

.container {
  padding: 80px 80px;
  width: 80vh;


}

ul {
  margin: 0;
}
li *{
  margin: 0px 20px;
}

.user-pic img {
  border-radius: 50%;
  width: 125px;
  height: 132px;
  display: block;
  margin: 10px 10px;
  border: 3px solid #E35D00;
}

.user-pic button {
  height: 32px;
  width: 104px;
  left: 71px;
  top: 175px;
  background: #E35D00;
  border-radius: 10px;
  color: white;
  font-family: 'Bahnschrift', sans-serif;
  border: none;
}



.user-pic {
  display: inline-block;
  vertical-align:top;
  
}

.user-info {
  display: inline-block;
  vertical-align:top;
  margin-left: 20px;
}

.user-info h3 {
  margin: 0px;
}
